<div class="row">
    <div class="col-12">
        <form [formGroup]="formCadastro" (ngSubmit)="onSubmit()" class="m-auto w-50">

            <div class="mb-4">
                <h2>Cadastre-se</h2>
            </div>
            <div class="mb-2 text-success text-center">
                {{mensagemSucesso}}
            </div>

            <div class="mb-2 text-danger text-center">
                {{mensagemErro}}
            </div>
            <div class="mb-4">
                <label>Nome</label>
                <input type="text" class="form-control border-0 border-bottom border-dark-subtle" formControlName="nome"
                    placeholder="Ex: João da Silva">
                <div class="text-danger" *ngIf="form.nome.touched && form.nome.invalid">
                    <span *ngIf="form.nome.errors.required">
                        O campo nome é obrigatório
                    </span>
                    <span *ngIf="form.nome.errors.minlength">
                        O minímo para este campo é de 8 caracteres
                    </span>

                    <span *ngIf="form.nome.errors.maxlength">
                        O máximo para este campo é de 200 caracteres
                    </span>
                </div>

            </div>
            <div class="mb-4">
                <label>Email</label>
                <input type="text" class="form-control border-0 border-bottom border-dark-subtle"
                    formControlName="email" placeholder="Ex: nal@meail.com">
                <div class="text-danger" *ngIf="form.email.touched && form.email.invalid">
                    <span *ngIf="form.email.errors.required">
                        O campo email é obrigatório
                    </span>
                    <span *ngIf="form.email.errors.email">
                        Insira um email válido
                    </span>
                </div>

            </div>

            <div class="mb-4">
                <label>Telefone</label>
                <input type="tel" class="form-control border-0 border-bottom border-dark-subtle" id="exampleInputTel1"
                    aria-describedby="telHelp" placeholder="DDD + numero da TIM" formControlName="telefone">
                <div class="text-danger" *ngIf="form.telefone.touched && form.telefone.invalid">
                    <span *ngIf="form.telefone.errors.required">
                        O campo telefone é obrigatório
                    </span>
                    <span *ngIf="form.telefone.errors.minlength">
                        O minímo para este campo é de 12 caracteres
                    </span>

                    <span *ngIf="form.telefone.errors.maxlength">
                        O máximo para este campo é de 12 caracteres
                    </span>
                </div>

            </div>

            <div class="mb-4">
                <label>Planos</label>


                <select class="form-select border-0 border-bottom border-dark-subtle" formControlName="plano"  [(ngModel)]="selectedPlanoId" (change)="logValor('plano', $event)">
                    <option disabled selected value=0>Selecione um plano:</option>
                    <option *ngFor="let item of planos" value="{{item.idPlano}}">{{ item.nomePlano }}</option>
                </select>

                

                <div *ngIf="form.plano.touched && form.plano.invalid">
                    <span class="text-danger" *ngIf="form.plano.errors.required">
                        Informe um plano
                    </span>


                </div>
            </div>



            <div class="mb-4">
                <label>Senha</label>
                <input type="password" class="form-control border-0 border-bottom border-dark-subtle"
                    placeholder="Senha de 4 numeros" formControlName="senha">
                <div class="text-danger" *ngIf="form.senha.touched && form.senha.invalid">
                    <span *ngIf="form.senha.errors.required">
                        O campo senha é obrigatório
                    </span>
                    <span *ngIf="form.senha.errors.minlength">
                        O minímo para este campo é de 8 caracteres
                    </span>

                    <span *ngIf="form.senha.errors.maxlength">
                        O máximo para este campo é de 20 caracteres
                    </span>
                </div>

            </div>

            <button type="submit" class="btn btn-success rounded-5">
                <p class=" m-0 p-1">Cadastrar</p>
            </button>
        </form>
    </div>
</div>