<div class="row w-auto">
  <div class="col-12">
    <nav class="navbar navbar-expand-lg Naveb">
      <div class="container-fluid w-auto m-auto" style="font-size: 0.83rem;">

        <a class="navbar-brand me-5" routerLink="acessar-conta"><img style="margin-bottom: 0.42rem;"
            src="https://meutim.tim.com.br/_staticfiles16/PortalMeuTIM/images/logo-meuTim.png"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item" *ngIf="!isAuthenticated">
              <a class="nav-link text-light fw-medium me-2" aria-current="page" routerLink="criar-conta">CADASTRO</a>
            </li>

            <li class="nav-item" *ngIf="!isAuthenticated">
              <a class="nav-link text-light fw-medium me-2" aria-current="page" >PROMOÇÕES</a>
            </li>

            <li class="nav-item" *ngIf="!isAuthenticated">
              <a class="nav-link text-light fw-medium me-2" aria-current="page">NOVIDADES</a>
            </li>

            <li class="nav-item" *ngIf="!isAuthenticated">
              <a class="nav-link text-light fw-medium me-2" aria-current="page" >PLANOS</a>
            </li>

            <li class="nav-item" *ngIf="isAuthenticated">
              <a class="nav-link text-light fw-medium me-2" aria-current="page" routerLink="alterar-senha">ALTERAR
                SENHA</a>
            </li>

            <li class="nav-item" *ngIf="isAuthenticated">
              <a class="nav-link text-light fw-medium me-2" aria-current="page" routerLink="perfil-usuario">PERFIL</a>
            </li>

            <li class="nav-item dropdown" *ngIf="isAuthenticated">
              <a class="nav-link dropdown-toggle text-light fw-medium me-2" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                SERVIÇOS
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Aumentar Pacote</a></li>
                <li><a class="dropdown-item" href="#">Mudar Plano</a></li>
                <li><a class="dropdown-item" href="#">Cancelar Plano</a></li>
              </ul>
            </li>


          </ul>
        </div>
      </div>
    </nav>


  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="container-fluid w-auto m-auto">
      <!-- local para renderização dos componentes -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>