<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <div class="card shadow p-4 mt-5 bg-white rounded-4">
            <form [formGroup]="formAltera" (ngSubmit)="onSubmit()">

                <div class="mb-4 mt-2 d-flex flex-row justify-content-between">
                    <h2>Altere a senha</h2>
                    <button type="button" class="btn-close mt-auto mb-auto" [routerLink]="['/perfil-usuario']">
                    </button>
                </div>
                <div class="mb-4">
                    <label>Digite a senha atual</label>
                    <input type="password" class="form-control border-0 border-bottom border-dark-subtle"
                        placeholder="Senha de 4 numeros" formControlName="senhaAtual">
                    <div class="text-danger" *ngIf="form.senhaAtual.touched && form.senhaAtual.invalid">
                        <span *ngIf="form.senhaAtual.errors.required">
                            O campo senha atual é obrigatório
                        </span>
                        <span *ngIf="form.senhaAtual.errors.minlength">
                            O minímo de caracteres para esse campo são de 8
                        </span>
                        <span *ngIf="form.senhaAtual.errors.maxlength">
                            O máximo de caracteres para esse campo são de 200
                        </span>
                    </div>

                </div>
                <div class="mb-4">
                    <label>digite a nova senha</label>
                    <input type="password" class="form-control border-0 border-bottom border-dark-subtle"
                        placeholder="Senha de 4 numeros" formControlName="novaSenha">
                    <div class="text-danger" *ngIf="form.novaSenha.touched && form.novaSenha.invalid">
                        <span *ngIf="form.novaSenha.errors.required">
                            O campo nova senha é obrigatório
                        </span>
                        <span *ngIf="form.novaSenha.errors.minlength">
                            O minímo de caracteres para esse campo são de 8
                        </span>
                        <span *ngIf="form.novaSenha.errors.maxlength">
                            O máximo de caracteres para esse campo são de 200
                        </span>
                    </div>

                </div>

                <button type="submit" class="btn btn-primary rounded-5 w-100 mt-1">
                    <p class=" m-0 p-1">Enviar</p>
                </button>
            </form>
        </div>
    </div>
    <div class="col-3"></div>
</div>