<div class="row">
    <div class="col-12">

        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <div class="card shadow p-3 mt-5 bg-white rounded-4">

                    <form class="p-3" [formGroup]="formAcesso" (ngSubmit)="onSubmit()">
                        <div class="row justify-content-center">
                            <div class="col-4">
                                <div class="mb-4 mt-4">
                                    <img class="w-100"
                                        src="https://cdn2.downdetector.com/static/uploads/c/300/b7279/TIM_logo_2016_1_UrMUWwz.png">
                                </div>
                            </div>
                        </div>
                        <div class="mb-4 text-danger text-center">
                            <strong>{{mensagemErro}}</strong>
                        </div>

                        <div class="mb-4">
                            <input type="email" class="form-control border-0 border-bottom border-dark-subtle"
                                id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="DDD + numero da TIM"
                                formControlName="telefone">
                            <div class="text-danger" *ngIf="form.telefone.touched && form.telefone.invalid">
                                <span *ngIf="form.telefone.errors.required">
                                    Precisa colocar o telefone que você cadastrou
                                </span>
                                <span *ngIf="form.telefone.errors.minlength">
                                    O minimo de 8 caracteres para esse campo
                                </span>
                                <span *ngIf="form.telefone.errors.maxlength">
                                    O máximo de 8 caracteres para esse campo
                                </span>
                            </div>
                        </div>
                        <div class="mb-4">
                            <input type="password" class="form-control border-0 border-bottom border-dark-subtle"
                                id="exampleInputPassword1" placeholder="Senha de 4 numeros" formControlName="senha">
                            <div class="text-danger" *ngIf="form.senha.touched && form.senha.invalid">
                                <span *ngIf="form.senha.errors.required">
                                    Precisa colocar a senha que você cadastrou
                                </span>
                                <span *ngIf="form.senha.errors.minlength">
                                    O minimo de 8 caracteres para esse campo
                                </span>
                                <span *ngIf="form.senha.errors.maxlength">
                                    O máximo de 8 caracteres para esse campo
                                </span>
                            </div>
                        </div>
                        <div class="row justify-content-between mb-2 mt-4" >
                            <div class="mb-3 form-check col-5 p-0" style="margin-left: 2.1rem;">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1" style="font-size: 0.9rem;">Manter me conectado</label>
                            </div>
                            <div class="col-5 text-end p-0">
                                <a class=" w-100" [routerLink]="['/recuperar-senha']" style="font-size: 0.9rem;">Esqueceu a sua senha?</a>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary rounded-5 w-100 mt-1"
                            [disabled]="formAcesso.invalid">
                            <p class=" m-0 p-1"><strong>Entrar Agora</strong></p>
                        </button>
                    </form>

                </div>

            </div>
            <div class="col-4"></div>
        </div>


    </div>
</div>